# Ignore node_modules in both backend and frontend
/backend/node_modules/
/frontend/node_modules/

# Ignore build folder for frontend
/frontend/build/

# Ignore env files in both backend and frontend
/backend/.env
/frontend/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Coverage folder if you have tests
coverage/
